table {
    margin: 0 auto;
    border-collapse: separate; /*collapse | separate*/
}

td {
    width: 5px;
    height: 5px;
}

td.alive {
    background: green;
}

td.death {
    background: #ddd;
}

.start, .pause {
    padding: 8px;
}

.pause {
    margin-left: 10px;
}
